.padding-all-1 {
  padding: 1rem;
}
.flex {
  display: flex;
}
.row {
  flex: 0 0 100%;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
}
/* body {
  background-color: #7979a7;
} */
